@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&family=Poppins:wght@400;500;600;700&display=swap');

.map-clean {
  color: #313437;
}

.map-clean p {
  color: #7d8285;
}

.map-clean h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 4.5vh;
  color: #32353C;
}

@media (max-width:767px) {
  .map-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.map-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.map-clean iframe {
  background-color: #eee;
}

